:root {
  --purple: #4b21ff;
  --white: #f1f1f1;
}

body {
  overflow: hidden;
  font-family: 'Dosis', sans-serif;
}
.page {
  display: grid;
  grid-template-columns: 1.6fr 1.2fr 1.9fr;
}

.left-side {
  background-color: var(--purple);
  height: 100vh;
}

.right-side {
  background-color: var(--white);
  min-height: 100vh;
  grid-column: 2/4;
}

.image {
  background-image: url('https://i.postimg.cc/25TYbvZD/image.jpg');
  background-size: cover;
  background-position: center;
  background-color: aqua;
  min-width: 400px;
  height: 90vh;
  margin-top: 35px;
  grid-column: 2/3;
  position: absolute;
  left: 300px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.contact {
  font-size: 1em;
  color: var(--white);
  position: absolute;
  bottom: 10px;
  margin: 30px;
}

.span {
  width: 100px;
  height: 7px;
  background-color: var(--purple);
  position: relative;
  top: 25%;
  left: 180px;
  margin: auto;
}

div.details {
  width: 500px;
  font-family: 'Arvo', serif;
  position: absolute;
  height: 400px;
  right: 6%;
  top: 20%;
  line-height: 1.4;
}

.social-media span {
  padding-right: 15px;
  padding-top: 5px;
}

/* .portfolio button {
  font-weight: 700;
  padding: 20px;
  margin-right: 20px;
  border: solid 2px;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
} */

.button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #4b21ff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #4b21ff;
}

.button:hover {
  cursor: pointer;
}

.button:hover:after {
  width: 100%;
  left: 0;
}


.button:nth-of-type(1):after {
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  z-index: -1;
}


.button:hover:nth-of-type(1):after {
  left: -10%;
  width: 120%;
}

button:nth-of-type(2) {
  border: none;
}

button:nth-of-type(1):hover {
  border: none;
  background: #4b21ff;
  color: #ffffff;
}

.fname,
.surname {
  font-size: 2em;
}

.details span:nth-of-type(2) {
  color: var(--purple);
}

.details span:nth-of-type(3) {
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#projects {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.project-name {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  background: #4b21ff;
  padding: 5px;
}

.modal-content h1 {
  text-align: center;
}


@media screen and (max-width: 1300px) and (min-width: 1024px) {
  div.details {
    position: absolute;
    right: 2%;
  }
}

@media screen and (max-width: 1024px) {
  div.details {
    position: absolute;
    right: 15%;
  }

  .image {
    background-image: url('');
  }
}

@media screen and (max-width: 400px) {
  .page {
    display: flex;
  }
}
